hr {
    border-top-width: 10px;
    border-top-color: navy;
}

.header {
    background-color: navy;
    color: white;
    height: 40px;
}

.vr {
    border-left: thin solid navy;
}

.vr-thick {
    border-left: thick solid navy;
}

.text-body {
    line-height: 150%;
}

.text-strong {
    font-weight: bold;
}

.text-em {
    font-style: italic;
}

.text-indent {
    text-indent: 25px;
}
